body {
  background-color: #EBEBEBFF;
}

.container {
  background-color: white;
}

.main-title {
  margin: 50px 0px;
  h1 {
    font-size: 50px;
  }
}

.name {
  background-color: #1d2b53;
  color: white;
  padding: 0px 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #949494;
}

.social-links a {
  text-decoration: none;
}

p {
  text-align: justify;
}