---
title: Dimitri Bosch
---

<main id="homepage-main" class="container">
    <h1>Dimitri Bosch</h1>

    <section>
      <p>I'm a fullstack web developer.</p>
      <p>I currently work for <a href="https://www.lewagon.comn">Le Wagon</a>, the top-rated coding bootcamp, as a teacher and a member of the engineering team. We aim to provide the best lectures, experience and resources to our students, and create the tools to make them thrive at their new passion: learn to code.</p>
      <p>My technical stack: Ruby on Rails, React, Redux, JavaScript ES6 and of course my beloved Git (and Github)</p>
    </section>

    <section>
      <h3>Contact</h3>
      <ul>
        <li class="social">Twitter: <a href="https://twitter.com/dimitribosch">@dimitribosch</a></li>
        <li class="social">Github: <a href="https://github.com/db0sch">github.com/db0sch</a></li>
        <li class="social">Email: <a href="mailto:dimitribosch@gmail.com">dimitribosch@gmail.com</a></li>
      </ul>
    </section>
</main>


