---
title: Hi! I'm Dimitri.
---

<main>
  <header class="banner">
    <div class="container-fluid">
      <h1 id="logo-name" class="text-center">DIMITRI BOSCH</h1>

    </div> <!-- .container-fluid -->
  </header> <!-- .banner -->
  <section class="introduction-part">
    <div class="wrap container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p class="justify-text">I recently completed <%= link_to "Le Wagon", "https://www.lewagon.com/fr", "target":"_blank" %> fullstack code bootcamp in June 2016.
            So I know stuffs about Ruby on Rails, SQL, Git & Github, Heroku, JS, HTML, CSS...
            I like tech, movies, music (jazz, worldwide, electronic...), economics and other boring things that almost only me enjoys. <br /> <br />
            Used to work for the movie industry (in Paris, France). <br />
            Now, trying to start my own project (regarding... movies).
            I can work sometimes for other projects as a freelance.
            <br /> <br />
            So, send me a tweet, message, email, so we can get in touch.
        </p>
        </div>
      </div>
    </div>
  </section> <!-- .introduction-part -->
  <section class="skills-part">
    <div class="wrap container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="section-title text-center">Skills</h3>
        </div> <!-- .col-xs-12 -->
      </div> <!-- .row -->
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, aspernatur illo alias laborum nemo dolorem fugit architecto, officiis omnis officia voluptatum earum neque pariatur qui, dolorum inventore nesciunt facere harum!</p>
        </div>
      </div>
    </div>
  </section> <!-- .skilles-part -->
  <section class="projects-part">
    <div class="wrap container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="section-title text-center">Projects</h3>
        </div> <!-- .col-xs-12 -->
      </div> <!-- .row -->
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, aspernatur illo alias laborum nemo dolorem fugit architecto, officiis omnis officia voluptatum earum neque pariatur qui, dolorum inventore nesciunt facere harum!</p>
        </div>
      </div>
    </div>
  </section> <!-- .projects-part -->
<main> <!-- .main -->

