---
title: Dimitri Bosch
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hi, I'm <strong>Dimitri Bosch</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        I recently finished Le Wagon Fullstack code bootcamp (www.lewagon.org).
        So I know some stuff about Ruby on Rails, SQL, Git & Github, Heroku, JS, HTML, CSS...
        Try to code everyday to get better at it.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        I like tech, movies, music (jazz, worldwide, electronic...), economics and other boring things that almost only me enjoys.
      </p>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        Used to work for the movie industry (in Paris, France).
        Now, trying to start my own project (regarding... movies).
        I can work sometimes for other projects as a freelance.
        So, send me a tweet, message, email, so we can get in touch.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <ul>
        <li>
          <%= link_to "github", "https://github.com/db0sch", "target":"_blank" %>
        </li>
        <li>
          <%= link_to "twitter", "https://twitter.com/dimitribosch" %>
        </li>
        <li>
          <%= link_to "linkedin", "https://fr.linkedin.com/in/dimitribosch" %>
        </li>
        <li>
          <%= link_to "e-mail", "mailto:dimitribosch@gmail.com" %>
        </li>
      </ul>
    </div>
  </div>
</div>




