---
title: Dimitri Bosch
---

<main id="homepage-main" class="container">
    <h1>Dimitri Bosch</h1>

    <section>
      <p>a fullstack web developer.</p>
    </section>
    <section>
      <h2>Work</h2>
      <p>currently work at <a href="https://www.lewagon.comn">le wagon</a>, the top-rated coding bootcamp, as a teacher and a member of the engineering team.</p>
      <p>used to work in the movie industry for 8 years as a post-production supervisor</p>
    </section>
    <section>
      <h2>Stack</h2>
      <p>ruby on rails, react, redux, javascript es6 and of course my beloved git & github</p>
    </section>
    <section>
      <h2>Contact</h2>
      <ul>
        <li class="social">twitter | <a href="https://twitter.com/dimitribosch">@dimitribosch</a></li>
        <li class="social">github | <a href="https://github.com/db0sch">github.com/db0sch</a></li>
        <li class="social">email | <a href="mailto:dimitribosch@gmail.com">dimitribosch@gmail.com</a></li>
      </ul>
    </section>
</main>


